# Requisitos

Projeto Python Final

Descrição: Extraindo um arquivo csv da Web

Autora: Ivone Rosales -
Data: 17.09.2022 -
Versão: 0.0.7

In [94]:
# Importando os pacotes:

import requests
import pandas as pd

In [95]:
from openpyxl import Workbook,load_workbook

In [96]:
#Lendo a página de Dados TCE

endereco = "http://dados.tce.rs.gov.br/dados/municipal/balancete-despesa/2022.csv"

dados = requests.get(endereco)
dados.status_code

200

In [97]:
def page_reader (endereco: str) -> requests.models.Response:
        dados = requests.get (endereco)
        return pagina

In [98]:
# Gravando o arquivo com as informações da variável "dados"

arquivo = open('balancete.csv', 'wb')
for texto in dados.iter_content(1048576):
    arquivo.write(texto)
arquivo.close()

In [99]:
# Usando pacote Pandas, para ler o arquivo "balancete.csv"

balancete = pd.read_csv("balancete.csv", index_col=None)
balancete.head(3)

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_CREDITOS_EXTRAORDINARIOS,VL_REDUCAO_DOTACAO,VL_SUPLEMENTACAO_RECURSO,VL_REDUCAO_RECURSO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
0,2022,2,211,TAPES,88134,HNSC - HOSP. NOSSA SRA. DO CARMO - AUTARQUIA M...,268101,12,HOSPITAL NOSSA SENHORA DO CARMO,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022,2,211,TAPES,88134,HNSC - HOSP. NOSSA SRA. DO CARMO - AUTARQUIA M...,268101,12,HOSPITAL NOSSA SENHORA DO CARMO,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022,2,211,TAPES,88134,HNSC - HOSP. NOSSA SRA. DO CARMO - AUTARQUIA M...,268101,12,HOSPITAL NOSSA SENHORA DO CARMO,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [100]:
# Usando o Pandas e Openpyxl para transformar arquivo .csv em .xlsx

In [101]:
balancete.to_excel("balancete.xlsx", sheet_name="Consolidado_despesas_2022", index = False)

In [102]:
novo_balancete = load_workbook(filename = "balancete.xlsx")
novo_balancete.save("novo_balancete.xlsx")

In [104]:
balancete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447532 entries, 0 to 447531
Data columns (total 37 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ANO                          447532 non-null  int64
 1   MES                          447532 non-null  int64
 2   COD_MUNICIPIO                447532 non-null  int64
 3   NOME_MUNICIPIO               447532 non-null  object
 4   CD_ORGAO                     447532 non-null  int64
 5   NOME_ORGAO                   447532 non-null  object
 6   CD_RECEBIMENTO               447532 non-null  int64
 7   CD_ORGAO_ORCAMENTARIO        447532 non-null  int64
 8   NOME_ORGAO_ORCAMENTARIO      447532 non-null  object
 9   CD_UNIDADE_ORCAMENTARIA      447532 non-null  int64
 10  NOME_UNIDADE                 447532 non-null  object
 11  TP_UNIDADE                   447532 non-null  object
 12  CD_FUNCAO                    447532 non-null  int64
 13  DS_FUNCAO                    447532 non-null  object
 14  CD_SUBFUNCAO                 447532 non-null  int64
 15  DS_SUBFUNCAO                 447532 non-null  object
 16  CD_PROGRAMA                  447532 non-null  int64
 17  DS_PROGRAMA                  447532 non-null  object
 18  CD_PROJETO                   447532 non-null  int64
 19  NM_PROJETO                   447532 non-null  object
 20  CD_ELEMENTO                  447532 non-null  object
 21  CD_RECURSO                   447532 non-null  int64
 22  NM_RECURSO                   447532 non-null  object
 23  VL_DOTACAO_INICIAL           447532 non-null  float64
 24  VL_ATUALIZACAO_MONETARIA     447532 non-null  float64
 25  VL_CREDITOS_SUPLEMENTARES    447532 non-null  float64
 26  VL_CREDITOS_ESPECIAIS        447532 non-null  float64
 27  VL_CREDITOS_EXTRAORDINARIOS  447532 non-null  float64
 28  VL_REDUCAO_DOTACAO           447532 non-null  float64
 29  VL_SUPLEMENTACAO_RECURSO     447532 non-null  float64
 30  VL_REDUCAO_RECURSO           447532 non-null  float64
 31  VL_EMPENHADO                 447532 non-null  float64
 32  VL_LIQUIDADO                 447532 non-null  float64
 33  VL_PAGO                      447532 non-null  float64
 34  VL_LIMITADO                  447532 non-null  float64
 35  VL_RECOMPOSICAO              447532 non-null  float64
 36  VL_PREVISAO_EXECUCAO         447532 non-null  float64
dtypes: float64(14), int64(12), object(11)
memory usage: 126.3+ MB